html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#root {
	height: 100%;
  display: flex;
	align-items: center;
	justify-content: center;
}

#root .playground {
	display: flex;
	align-items: center;
	flex-direction: column;
	border: 0.4em solid #d0e7e0;
	border-radius: 0.4rem;
	width: 316px;
	height: 476px;
}

.playground nav {
	height: 100px;
	width: 240px
}

.playground .board {
	width: 240px;
	height: 240px;
	background: #d0e7e0;
}
